:root {
    --Light-slate-blue: hsl(252, 100%, 67%) ;
    --Light-royal-blue: hsl(241, 81%, 54%)  ;

    --Light-red: hsl(0, 100%, 67%) ;
    --Orangey-yellow: hsl(39, 100%, 56%) ;
    --Green-teal: hsl(166, 100%, 37%) ;
    --Cobalt-blue: hsl(234, 85%, 45%) ;

    --Violet-blue: hsla(256, 72%, 46%, 1) ;
    --Persian-blue: hsla(241, 72%, 46%, 0) ;

    --White: hsl(0, 0%, 100%)   ;
    --Pale-blue: hsl(221, 100%, 96%)  ;
    --Light-lavender: hsl(241, 100%, 89%) ;
    --Dark-gray-blue: hsl(224, 30%, 27%) ;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: var(--White);
    display: flex;
    min-height: 100vb;
    align-items: center;
    justify-content: center;
}
* a {
    text-decoration: none;
}
.card {
    background-color: white;
    border-radius: 25px;
    width: 735px;
}
@media (min-width: 378px) {
    .card {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 40px;
    }
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 378px) {
    .card {
        border-radius: 0px;
        min-height: 100vb;
    }
    .container {
        flex-direction: column;
    }
}
.container .Result {
    background: linear-gradient(to bottom ,
     var(--Light-slate-blue),
     var(--Light-royal-blue));
    max-width: 50%;
    border-radius: 25px;
    color: white;
    padding: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.container .Result h1 {
    font-size: 25px;
    font-weight: normal;
    margin: 0px auto 15px;
    color: var(--Light-lavender);
}
.container .Result .prs {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to bottom , var(--Violet-blue), 
    hsl(241deg 72% 46% / 32%));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .Result .prs span:first-child {
    font-size: 66px;
    color: var(--White);
    font-weight: bold;
}
.container .Result .prs span:last-child {
    color: var(--Light-lavender);
    margin-top: -1px;
    opacity: .5;
}
.container .Result h2 {
    color: var(--White);
    margin-top: 14px;
    font-size: 32px;
    font-weight: normal;
}
.container .Result p {
    color: var(--Light-lavender);
    text-align: center;
    margin: -3px 21px 0px;
    font-size: 18px;
}
.container .Summary { 
    width: 50%;
    padding: 39px 32px 44px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container .Summary h3 {
    margin-bottom: 10px;
    font-size: 25px;
    opacity: 0.8;
}
.container .Summary .box { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
    border-radius: 8px;
}
.container .Summary .red > div {
    color: var(--Light-red);
    font-weight: 700;
    font-size: 18px;
}
.container .Summary .red  {
    background-color: hsl(0deg 100% 67% / 10%);
} 
.container .Summary .yellow > div {
    color: var(--Orangey-yellow);
    font-weight: 700;
    font-size: 18px;
}
.container .Summary .yellow  {
    background-color: hsl(39deg 100% 56% / 10%);
} 
.container .Summary .teal > div {
    color: var(--Green-teal);
    font-weight: 700;
    font-size: 18px;
}
.container .Summary .teal  {
    background-color: hsl(166deg 100% 37% / 10%)
} 
.container .Summary .blue > div {
    color: var(--Violet-blue);
    font-weight: 700;
    font-size: 18px;
}
.container .Summary .blue  {
    background-color: hsl(256deg 72% 46% / 10%);
} 
.container .Summary .title img { 
    position: relative;
    top: 5px;
 }
.container .Summary span span { 
    color: var(--Light-lavender);
 }
.container .Summary a{ 
    color: var(--White);
    background-color: var(--Dark-gray-blue);
    border-radius: 100vw;
    padding: 18px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 0;
}
.container .Summary a:hover {
    background: linear-gradient(to bottom ,
    var(--Light-slate-blue),
    var(--Light-royal-blue));
}

@media (max-width: 378px) {
    .container .Result {
        max-width: 100%;
        border-radius: 0 0 32px 32px;
        padding: 26px 26px 42px;
    }
    .container .Result h1 {
        font-size: 17px;
        margin: 0px auto 9px;
    }
    .container .Result .prs span:first-child  {
        font-size: 56px;
    }
    .container .Result .prs span:last-child {
        margin-top: 2px;
    }
    .container .Result h2 {
        margin-top: 9px;
        font-size: 25px;
    }
    .container .Result p {
        margin: -7px 13px;
        opacity: 0.8;
        font-size: 17px;
    }
    .container .Summary {
        width: 100%;
        padding: 23px 30px;
    }
    .container .Summary h3 {
        margin-bottom: 8px;
        font-size: 20px;
    }
    .container .Summary .box {
        padding: 16px 16px;
        border-radius: 13px;
    }
    .container .Summary a {
        margin: 6px 0 0;
        padding: 18px 32px;
    }
    .container .Result .prs {
        width: 137px;
        height: 137px;
    }

}
